<!DOCTYPE html>
<html>
    <head>
        <title>Connectify - Communities</title>
    </head>
    <body>
        <a href="{% url 'home' %}">Back</a>
        <h3>Communities</h3>  
        {% if not communities%} 
            <p>No communities here yet.</p>
        {%else%}
            {%for community in communities%}  
                <h4><em>{{community.name}}</em></h4>
                {{community.description}}
                {{community.created_at}}   
            {%endfor%}
        {%endif%}
    </body>
</html>