<!DOCTYPE html>
<html>
    <head>
        <title>Connectify - Home</title>
    </head>
    <body>
        <h1>Connectify</h1>
        <a href="{% url 'create_topic' %}">Create topic</a>
        {%if topics %}
            {%for topic in topics%}
                <p>Title:<strong>{{topic.title}}</strong></p>
                <small>{{topic.community}} / {{topic.created_at}}</small>
                <p><em>{{topic.author}}</em></p>
                <p><a href="{% url 'topic_detail' topic.slug %}">Read more</a></p>
            {%endfor%}
        {%else%}
            <p>This space seem empty, create a new topic</p>
        {%endif%}
    </body>
</html>